/* dashboard style */

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  padding: 5px 0;
}
.naviconstyle {
  height: 35px;
  width: 35px;
  text-align: center;
  font-size: 1.3rem;
  background-color: skyblue;
}
.naviconstyle2 {
  height: 40px;
  width: 40px;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 50% !important;
}

.iconimgs {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.row4c {
  scrollbar-width: none !important;
}

.row2c {
  scrollbar-width: none !important;
}

.fontsize5 {
  font-weight: 546;
  font-size: clamp(
    1.1rem,
    1.2vw,
    1.3rem
  ); /* Title: Scales from 16px to 19.2px */
}

.fontsize9 {
  font-size: clamp(
    1rem,
    1.1vw,
    1.2rem
  ) !important; /* Scales from 12.8px to 16px */
}

.fontsize3 {
  font-size: clamp(
    1rem,
    1.2vw,
    1.3rem
  ) !important; /* Scales from 12.8px to 16px */
}

.fontsize4 {
  font-size: clamp(
    0.95rem,
    1vw,
    1rem
  ) !important; /* Labels: Scales from 13.6px to 16px */
}

.fontsize2 {
  font-size: clamp(
    0.9rem,
    0.9vw,
    0.9rem
  ) !important; /* Supporting Text: Scales from 12px to 14.4px */
}

.fontsize6 {
  font-size: 82% !important;
}
.mainh {
  font-size: 110% !important;
  padding: 0px !important;
  margin: 1px !important;
  font-weight: 800 !important;
}
/* .fontsize5 {
  font-weight: 550;
  font-size: 17px;
} */
.job {
  font-weight: 480;
}

/* sidebar css */

.offcanvas {
  font-family: outfit !important;
}
.logostyle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #0363e8;
  transition: color 0.3s;
}
.logostyle:hover {
  color: #0363e8;
}

.list-item {
  color: black !important;
  display: flex;
  align-items: center; /* Align items horizontally in the center */
}
.list-item:hover {
  background-color: #0363e8 !important;
  color: white !important;
}
h1 {
  text-align: center;
}
.sidebar {
  display: block;
  overflow-y: auto !important;
  font-size: clamp(0.9rem, 1.2vw, 1.5rem) !important;
  scrollbar-width: none !important;
  height: 86vh !important;
  font-family: outfit !important;
}

.offsidebar {
  overflow-y: auto !important;
  scrollbar-width: none !important;
  height: 100vh !important;
  display: block;
}

.scroll-container {
  display: block !important;
  margin-right: 20px !important;
  overflow: hidden;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(70%);
  } /* Start from right outside */
  100% {
    transform: translateX(-100%);
  } /* Move to the left outside */
}

.renderContent {
  padding: 10px;
  display: block;
  overflow-y: auto !important;
  scrollbar-width: none !important;
  height: 100vh !important;
  font-family: "Kumbh Sans" !important;
}

.log {
  color: #0363e8 !important;
  background-color: #f3f6f9;
  margin-right: 10px !important;
  display: flex;
  align-items: center;
}

.sidebaricon {
  height: 32px;
  width: 32px;
  border-radius: 50% !important;
  margin: "5px" !important;
  text-align: center !important;
  font-size: 1.3rem;
  background-color: skyblue;
}

.newjoiner {
  gap: 20px;
}
